.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

  .dropdown {
    button {
      img {
        width: 26px;
      }
    }

    &-menu {
      padding: 5px;
      min-width: 168px;
      button {
        img {
          width: 26px;
        }
      }
      div:last-child {
        padding-bottom: 0;
      }
    }
  }
}
