<nav class="navbar navbar-dark bg-dark">
  <div
    class="container-fluid d-flex justify-content-between align-items-center"
  >
    <div>
      <app-comp-menu></app-comp-menu>
    </div>
    <div class="d-flex align-items-center">
      <img src="../../../assets/images/logoText.svg" height="34" />
    </div>
    <div class="d-flex align-itens-center">
      <div class="dropdown">
        <button
          class="btn btn-dark text-light dropdown-toggle"
          type="button"
          id="language"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img src="../../../assets/images/flags/{{ language }}.svg" />
        </button>
        <div
          class="dropdown-menu dropdown-menu-end bg-dark"
          aria-labelledby="language"
        >
          <button
            class="btn btn-dark"
            *ngFor="let lang of langList"
            (click)="changeLenguage(lang)"
          >
            <img src="../../../assets/images/flags/{{ lang }}.svg" />
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
