<section class="footer bg-dark text-light mt-4 p-4">
  <div class="container text-center">
    <img src="../../../assets/images/logoText.svg" height="26px" />
    <p class="mt-2">
      FORTSAPP is developed by
      <a href="https://instagram.com/brunobozz">@brunobozz</a> using
      <a href="https://fortnite-api.com/" target="_blank">Fortnite-API</a>
    </p>
    <p class="small">
      Fortnite-API is a non-official API and not endorsed by Epic Games in any
      way. Epic Games, Fortnite, and all associated properties are trademarks or
      registered trademarks of Epic Games, Inc.
    </p>
  </div>
</section>
