$primary: #0055df;
$danger: #913b3b;
$success: #379c55;
$info: #2d94d8;
$warning: #e4d237;

//rarity
$common: #9e9e9e;
$uncommon: #4caf50;
$rare: #3f51b5;
$epic: #9c27b0;
$legendary: #ffd500;

//cinzas
$preto: #3f413d;
$branco: #ffffff;

$input-placeholder-color: rgba(0, 0, 0, 0.2);
