$primary: #0055df;
$danger: #913b3b;
$success: #379c55;
$info: #2d94d8;
$warning: #e4d237;

//colors
$pokeRed: #cc1717;
$pokeGray: #b8b8b8;

//cinzas
$preto: #3f413d;
$cinza200: #636663;
$cinza300: #c8c8c8;
$cinza400: #efefef;
$branco: #ffffff;

$input-placeholder-color: rgba(0, 0, 0, 0.2);
